<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <title>HaggleHaus</title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
    <!-- font awesome -->
    <script
      src="https://kit.fontawesome.com/0599685da4.js"
      crossorigin="anonymous"
    ></script>
    <!-- Latest compiled and minified CSS & JS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/styles/styles.css" />
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="navbar navbar-expand-lg navbar-light" role="navigation">
        <a class="navbar-brand" href="/">
          <img src="/img/favicon.png" alt="Haggle Haus" class="navbar-logo" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#HaggleHausNavbar"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="HaggleHausNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" id="home">welcome <%= current_user.username %></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" id="home">Home </a>
            </li>
            <li>
              <a class="nav-link" id="userProfile">Your Profile</a>
              <span class="sr-only">(current)</span>
            </li>
            <li>
              <a href="/logout" method="GET">Log out</a>
            </li>
            <li>
              <a class="nav-link" id="about">About</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              Your Items
              <table class="table" id="user-offers">
                <thead>
                  <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Bid Offers</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
            <div class="card-body" id="itemsWell">
              <!-- your items will post here -->
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              Current Bids
              <table class="table" id="user-bids">
                <thead>
                  <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Your Bid</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
            <div class="card-body" id="currentBidsWell">
              <!-- current bids will post here -->
            </div>
          </div>
        </div>
      </div>

      <!-- Form for submitting an item -->
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 text-center">
          <form method="post" id="add-item">
            <label for="item-name">Item name:</label><br />
            <input type="text" id="item-name" name="item-name" /><br />
            <label for="item-description">Item description:</label><br />
            <input
              type="text"
              id="item-description"
              name="item-description"
            /><br />
            <label for="barter-base">Item base barter:</label><br />
            <input type="text" id="barter-base" name="item-base" /><br />
            <label for="barter-base-amount">Item base barter amount:</label
            ><br />
            <input
              type="text"
              id="barter-base-amount"
              name="barter-base-amount"
            />
            <br />
            <label for="item-desired-amount">Amount of item desired:</label
            ><br />
            <input
              type="text"
              id="item-desired-amount"
              name="item-desired-amount"
            /><br />
            <label for="item-picture">Link to item picture (optional):</label
            ><br />
            <input type="text" id="item-picture" name="item-picture" /><br />
            <input type="submit" id="add-item-listing" value="Submit" />
          </form>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>
    <footer>
      <div class="links">
        <a href="#" target="blank" class="contact-link">
          <i
            class="fab fa-facebook-square fa-2x mt-2"
            title="Connect via Facebook"
          ></i>
          Facebook
        </a>
        <a href="#" target="blank" class="contact-link">
          <i class="fab fa-instagram fa-2x" title="Connect via Instagram"></i>
          Instagram
        </a>
        <a href="mailto:email@email.com?Subject=Hello" class="contact-link">
          <i
            class="fas fa-envelope-open-text fa-2x"
            title="Connect via Email"
          ></i>
          email@email.com
        </a>
      </div>
      HaggleHaus &copy;
    </footer>
    <script src="/js/user.js" type="text/javascript"></script>
  </body>
</html>
